html{
	height: 100%;
}
body{
	text-align: center;
	background-image: url("bg.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	
}
#content img.center {
	display: block;
	margin-top: 50px;
    margin-left: auto;
    margin-right: auto; 
    animation: fadein 3s;
    -moz-animation: fadein 3s;  
    -webkit-animation: fadein 3s; 
    -o-animation: fadein 3s; 
}
#buttons img{
	width: 75px;
	height: 75px;
	margin-top: 10px;
	margin-left: 100px;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	animation: fadein 8s;
    -moz-animation: fadein 8s; 
    -webkit-animation: fadein 8s;
    -o-animation: fadein 8s;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
